<template>
  <div :class="`grid grid-cols-${width} relative`" ref="grid">
    <row v-for="(_,index) in rows" :key="`row-${index}`"/>
    <rover class="border border-red-500 absolute left-0 bottom-0"/>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import Row from '@/ui/components/molecules/row.vue'
import Rover from '@/ui/components/atoms/rover.vue'

export default defineComponent({
  name: 'grid',
  components: {
    Rover,
    Row
  },
  props: {
    width: {
      type: Number,
      required: true
    },
    height: {
      type: Number,
      required: true
    }
  },
  data () {
    const rowsRefs : Array<HTMLDivElement> = []
    return { rowsRefs }
  },
  computed: {
    rows () {
      return [...Array(this.width * this.height)]
    }
  },
  methods: {
    setRef (el: HTMLDivElement) {
      this.rowsRefs.push(el)
    }
  },
  mounted () {
    const firstRow = (this.$refs.grid as HTMLDivElement).firstChild
    console.log(firstRow.offSetWidth)
  }
})
</script>
