<template>
  <div class="square border border-black"></div>
</template>

<script>
export default {
  name: 'row'
}
</script>

<style scoped>

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

</style>
