<template>
  <grid :width="8" :height="4" ></grid>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import Grid from '@/ui/components/organisms/grid.vue'

export default defineComponent({
  name: 'App',
  components: {
    Grid
  }
})
</script>
