<template>
  <div>
<img src="../../assets/images/rover.png" alt="rover-image"/>
  </div>
</template>

<script>
export default {
  name: 'rover',
  props: {
    width: {
      type: Number,
      required: true
    },
    height: {
      type: Number,
      required: true
    }
  }
}
</script>
